body {
  background-color: #171717; }

#inventory {
  margin: auto;
  width: 396px;
  height: 396px;
  background-image: url("../graphics/plecak.jpg"); }
  #inventory div {
    float: left;
    padding: 1px;
    width: 64px;
    height: 64px; }

#itemAlerts {
  color: #dc322f;
  margin: auto;
  text-align: center;
  padding: 15px; }

#equipment {
  margin: auto;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url("../graphics/postac.png"); }
  #equipment div {
    position: absolute;
    width: 64px;
    height: 64px; }
  #equipment #equipment_helmet {
    top: 3px;
    left: 118px; }
  #equipment #equipment_weapon {
    top: 45px;
    left: 8px; }
  #equipment #equipment_shield {
    top: 45px;
    left: 228px; }
  #equipment #equipment_armor {
    top: 79px;
    left: 118px; }
  #equipment #equipment_ring {
    top: 138px;
    left: 22px; }
  #equipment #equipment_amulet {
    top: 138px;
    left: 214px; }
  #equipment #equipment_boots {
    top: 210px;
    left: 118px; }

.item {
  position: relative;
  z-index: 5;
  width: 64px;
  height: 64px; }

.droppable-field-hover {
  box-shadow: 0 0 20px gold; }

.item-dropped {
  box-shadow: 0 0 20px #13ff00; }
