$cellSize: 64px;
$cellPaddingSize: 1px;
$bagpackSize: 6 * ($cellSize + 2 * $cellPaddingSize);
$equipBoxSize: 300px;

body {
  background-color: #171717;
}

#inventory {
  margin: auto;
  width: $bagpackSize;
  height: $bagpackSize;
  background-image: url('../graphics/plecak.jpg');
  div {
    float: left;
    padding: $cellPaddingSize;
    width: $cellSize;
    height: $cellSize;
  }
}
#itemAlerts {
  color: #dc322f;
  margin: auto;
  text-align: center;
  padding: 15px;
}
#equipment {
  margin: auto;
  position: relative;
  width: $equipBoxSize;
  height: $equipBoxSize;
  background-image: url('../graphics/postac.png');
  div {
    position: absolute;
    width: $cellSize;
    height: $cellSize;
  }

  #equipment_helmet {
    top: 3px;
    left: $equipBoxSize / 2 - $cellSize / 2;
  }
  #equipment_weapon {
    top: 45px;
    left: 8px;
  }
  #equipment_shield {
    top: 45px;
    left: $equipBoxSize - $cellSize - 8px;
  }
  #equipment_armor {
    top: 79px;
    left: $equipBoxSize / 2 - $cellSize / 2;
  }
  #equipment_ring {
    top: 138px;
    left: 22px;
  }
  #equipment_amulet {
    top: 138px;
    left: $equipBoxSize - $cellSize - 22px;
  }
  #equipment_boots {
    top: 210px;
    left: $equipBoxSize / 2 - $cellSize / 2;
  }
}
.item {
  position: relative;
  z-index: 5;
  width: $cellSize;
  height: $cellSize;
}
.droppable-field-hover {
  box-shadow: 0 0 20px gold;
}
.item-dropped {
  box-shadow: 0 0 20px #13ff00;
}